#clockContainer{
    position: relative;
    margin: auto;
    border: 2px antiquewhite;
    height: 40vw;
    width: 40vw;
    /*height: 440px;
    width: 440px;*/
    background: url(clock.jpg) no-repeat;
    background-size: 100%;

}

#hour, #minute, #second, #dot{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;

}

#hour{
    width: 1.6%;
    height: 26%;
    top: 23.5%;
    left: 48.8%;
    opacity: 35%;
    
}

#minute{
    width: 1.6%;
    height: 30%;
    top: 20%;
    left: 48.8%;
    opacity: 30%;
    
}

#second{
    width: 1.6%;
    height: 35%;
    top: 15%;
    left: 48.8%;
    opacity: 20%;
}

#dot {
    height: 5%;
    width: 5%;
    top: 47%;
    left: 47%;
    background-color: #bbb;
    border-radius: 50%;

  }

div.a {
    font-size: 10%;
    direction: rtl;
}
